{% extends "master.html" %}

{% block title %}
  Listar Numeros Telefónicos
{% endblock %}

{% block content %}

<h3>Números Telefonicos</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Telefono</th>
      <th>Tipo</th>
      <th>Estudiante</th>
    </tr>
  </thead>

  {% for n in numeros %}
  <tr>
    <td> {{n.telefono}} </td>
    <td> {{n.tipo}} </td>
    <td> {{n.estudiante}} </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
